<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="multicolumndeptlabel" value="false"/>
    <add key="templatefile" value="D:\PRWork\Plumriver\OffLine\OfflineFileGenerator\OfflineFileGenerator\bin\OnlineOrderTemplate.xls"/>
    <add key="savefolder" value="D:\PRWork\Plumriver\OffLine\OfflineFileGenerator\OfflineFileGenerator\bin\Process\"/>
    <add key="hierarchylevels" value="4"/>
    <add key="gridatlevel" value="3"/>
    <add key="uploadshipdate" value="N"/>
    <add key="column1heading" value=" "/>
    <add key="column2heading" value="Group"/>
    <add key="column3heading" value="Gender"/>
    <add key="column4heading" value="Product"/>
    <add key="column5heading" value="Description"/>
    <add key="column6heading" value="Color"/>
    <add key="column7heading" value="Wholesale"/>
    <add key="column8heading" value="Total Qty"/>
    <add key="column9heading" value="Total Amt"/>
    <add key="column1width" value="180"/>
    <add key="column2width" value="45"/>
    <add key="column3width" value="150"/>
    <add key="column4width" value="35"/>
    <add key="column5width" value="40"/>
    <add key="column6width" value="50"/>
    <add key="column7width" value="60"/>
    <add key="column8width" value="60"/>
    <add key="column9width" value="70"/>
    <add key="datacolumnwidth" value="65"/>
    <add key="datacolumnnumber" value="32"/>
    <add key="AttributeRectangular" value="0"/>
    <add key="ServerName" value="PRUSDEVSQL002"/>
    <add key="DBName" value="[DEVUSB]"/>
    <add key="SaveXMLPath" value="D:\PRWork\Plumriver\OffLine\OfflineFileGenerator\OfflineFileGenerator\bin\XMLData\"/>
    <add key="ShipCancelAfterDate" value="0"/>

    <!--BEGIN FOR TABULAR FORM-->
    <add key="TabularFormType" value="Tabular"/>
    <add key="TabularTemplateFile" value="D:\PRWork\Plumriver\OffLine\OfflineFileGenerator\OfflineFileGenerator\bin\TabularOfflineOrderForm.xlsm"/>
    <add key="TabularSheetName" value="TabularOfflineOrderForm"/>
    <add key="TabularCancelDate" value="0"/>
    <add key="TabularCancelDateRow" value="12"/>
    <add key="TabularSKUStartRow" value="16"/>
    <add key="TabularCatalogColumn" value="D"/>
    <add key="TabularCatalogRow" value="2"/>
    <add key="TabularTotalCurrencyColumn" value="E"/>
    <add key="TabularTotalCurrencyRow" value="14"/>
    <add key="TabularSubCurrencyRow" value="14"/>
    <add key="TabularMaxDeptWidth" value="0"/>
    <add key="CustomerSheetName" value="SoldToShipTo"/>
    <add key="CustomerStartColumn" value="A"/>
    <add key="CustomerColumnLength" value="18"/>
    <add key="TabularShipMethods" value="0"/>
    <add key="TabularShipMethodsRow" value="13"/>
    <add key="TabularShipMethodsSheetName" value="ShipMethods"/>
    <add key="ProtectPassword" value="Plumriver"/>
    <add key="GlobalSheetName" value="GlobalVariables"/>
    <add key="GlobalPWDColumn" value="B"/>
    <add key="GlobalPWDRow" value="200"/>
    <add key="TabularCommonTextFormat" value="4"/>
    <add key="TabularCommonDateFormat" value="16"/>
    <add key="TabularCategoryDoubleFormat" value="1"/>
    <!--END FOR TABULAR FORM-->

    <add key="TabularSubCurrencyColumn" value="Q"/>
    <add key="TabularRowTotalColumn" value="Q"/>
    <add key="TabularCategory1Column" value="K"/>
    <add key="TabularCategory2Column" value="N"/>
    <add key="TabularNumericValidationCell" value="B1"/>
    <add key="TabularSKUOrderColumnList" value="K|L|M|N|O|P"/>
    <add key="TabularComColumnList" value="A|Catalog,B|Department,C|Style,D|ProductName,E|SKU,F|UPC,G|AttributeValue2,H|AttributeValue1,I|PriceWholesale,J|MSRP"/>
    <add key="TabularSpecialColumnType" value="MSRP|2"/> <!--1 int, 2 double, 3 date-->

  </appSettings>
  <connectionStrings>
    <add name="connString" connectionString="server=PRUSDEVSQL002;uid=DEVUSB;Password=7F9m658J6977AKu;database=DEVUSB" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>