<OLOFSetting>
  <Settings>
    <add key="DefaultRequestDelDate" value="D8"/>
    <add key="DefaultCancelDate" value="D9"/>
    <add key="DisplaySoldtoShipList" value="1"/>
    <add key="ProductDescriptionFormat" value="{0} - [AttrValue2][AttrValue3][AttrValue4]"/>
    <add key="CatalogUPCSheetHeader" value="Style Name|Style #|Color|Gender|Width|Size|UPC Code|Price"/>
    <add key="CatalogUPCSheetLine" value="styleName|style|attr2|attr4|attr3|attr1|upc|unitprice"/>
    <add key="ProductDetailHeaders" value="Color|Gender|Width|Description"/>
    <add key="ProductDetailLines" value="attr2|attr4|attr3|styleName"/>
    <add key="DefaultSalesProgramName" value="C4"/>
    <add key="DefaultSalesProgramValue" value="D4"/>
    <add key="ProductFilterLines" value="attr2|attr4|attr3|styleName"/>
    <add key="DisplayCancelDate" value="0"/>
    <add key="ProductShowMSRPInPrice" value="1"/>
    <add key="DisplayPriceAmount" value="1"/>
    <add key="DefaultDateFormat" value="MM/dd/yyyy"/>
  </Settings>
  <Summary>
    <LineItems RowNumber="2" RowHeight="26">
      <LineItem columnNumber="4" value="{CatalogName}" style="18pt.bold" locked="1" columnSpan="10"/>
    </LineItems>
    <!--NEET TO SET CatalogNeedSalesProgram = 1 in App.config, orelse please remove this sales program section-->
    <LineItems RowNumber="4" RowHeight="20">
      <LineItem columnNumber="3" value="Sales-Program " style="Bold" locked="1"/>
      <LineItem columnNumber="4" value="" style="Underline" locked="0" columnSpan="3"/>
    </LineItems>
    <LineItems RowNumber="5" RowHeight="20">
      <LineItem columnNumber="3" value="Sold-To *" style="Bold" locked="1" color="#FF0000"/>
      <LineItem columnNumber="4" value="" style="Underline" locked="0" columnSpan="3"/>
      <LineItem columnNumber="7" value="" style="#666666" locked="1" columnSpan="8"/>
    </LineItems>
    <LineItems RowNumber="6" RowHeight="20">
      <LineItem columnNumber="3" value="Ship-To *" style="Bold" locked="1" color="#FF0000"/>
      <LineItem columnNumber="4" value="" style="Underline" locked="0" columnSpan="3"/>
      <LineItem columnNumber="7" value="" style="#666666" locked="1" columnSpan="8"/>
    </LineItems>
    <LineItems RowNumber="7" RowHeight="20">
      <LineItem columnNumber="3" value="PO #" style="Bold" locked="1"/>
      <LineItem columnNumber="4" value="" style="Underline" locked="0" columnSpan="3"/>
      <LineItem columnNumber="7" value='=IF(LEN(D7)>{POLength},"The max length of PO Number allowed is {POLength}","")' style="#ff0000"/>
    </LineItems>
    <LineItems RowNumber="8" RowHeight="20">
      <LineItem columnNumber="3" value="Requested Ship Date *" style="Bold" locked="1"/>
      <LineItem columnNumber="4" columnName="ReqDate" value="" style="#585858.ddmmmyyyy" columnSpan="3"/>
      <LineItem columnNumber="7" value='=IF(ISNUMBER(D8),"",IF(D8="",""," Invalid date (yyyy-mm-dd)"))' style="#ff0000"/>
    </LineItems>
    <LineItems RowNumber="9" RowHeight="20">
      <LineItem columnNumber="3" value="Cancel Date *" style="Bold" locked="1"/>
      <LineItem columnNumber="4" columnName="CancelDate" value="" style="#585858.ddmmmyyyy" columnSpan="3"/>
      <LineItem columnNumber="7" value='=IF(ISNUMBER(D9),IF(D9&lt;D8,"Cancel Date must be greater than Requested Delivery Date",""),IF(D9="",""," Invalid date (yyyy-mm-dd)"))' style="red" locked="1"/>
    </LineItems>
  </Summary>
  <Body>

  </Body>
</OLOFSetting>
